<section class="home-splash">
  <section>
    <section>
      <h2>Live high performance building help available 24/7</h2>
      <p>Instantly connect with a qualified expert, pay one dollar per minute</p>
      <!-- <input type="submit" value="Apply to teach" /> -->
      <%= link_to 'Request Expert', root_path, :class => 'button' %>
    </section>
  </section>
</section>

<section class="how-it-works">
  <div class="wrapper">
    <div class="row">
      <div class="large-2 columns"></div>
      <div class="large-8 columns">
        <ul>
          <li id="text-5" class="widget-1 widget-first widget-odd widget widget_text">
            <h3 class="title">Instant</h3>
            <div class="textwidget">OpenShiro broadcasts and distributes requests to verified experts in real-time without scheduling.</div>
    		  </li>
          <li id="text-6" class="widget-2 widget-even widget widget_text">
            <h3 class="title">Hands on</h3>
            <div class="textwidget">A qualified expert will instantly connect to provide hands-on mentorship using video chat, screen share or just a simple telephone call.</div>
    		  </li>
          <li id="text-7" class="widget-3 widget-last widget-odd widget widget_text">
            <h3 class="title">$1 per minute</h3>
            <div class="textwidget">Pay one dollar per minute plus tips. Pay nothing if session ends before 5 minutes. Only pay for the time you use.</div>
    		  </li>
        </ul>
      </div>
      <div class="large-2 columns"></div>
    </div>
  </div>
</section>
