<section class="home-splash">
  <section>
    <section>
      <h1>Duncan J. Miller</h1>
      <div style="clear:both;"></div>
      <p>Environmentalist, Entrepreneur, Web Developer, Investor</p>
    </section>
  </section>
</section>

<section class="how-it-works">
  <div class="wrapper">
    <div class="row">
      <div class="large-10 columns left">
        <ul>
          <li>
            <h2>HeatSpring LLC</h2>
            <h3>About the Company</h3>
            <p><%= link_to 'HeatSpring', 'https://heatspring.com' %> is a platform for premium online courses taught by industry experts. Our courses cover topics like solar, green building, microgrid, hvac design, geothermal and more. HeatSpring has offices in Ann Arbor, Michigan and Portland, Oregon and was founded in January 2007.</p>
    		  </li>
          <li>
            <h3>Co-Founder, Managing Director</h3>
            <p>Since founding HeatSpring with co-founder Brian Hayden, I have served in every role in the company. I taught myself html and took some elective computer science courses along with my Finance major. In the early days at HeatSpring I helped develop our first website where we could advertise courses and collect payment. I also helped build out first database, which was not connected to our website and run through Filemaker.</p>
            <p>My main role at the time was accounting and operations. I set up our financial accounting system, despite not really fully understanding accounting (even now). I produced financial reports, marketing reports and organized systems for collecting student registrations and running the courses.</p>
            <p>In 2010 HeatSpring began to experiment with online courses and paid an amazing developer, Matt Krom do build us an online course platform. He chose to build the website using Ruby on Rails.</p>
            <p>I learned Ruby and have been the lead developer at HeatSpring since 2014.</p>
            <p>I am currently running all operations at HeatSpring with the help of Brian as well as our team of amazingly talented instructors, industry partners and contractors.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
