<section class="home-splash">
  <section>
    <section>
      <h1>Duncan J. Miller</h1>
      <p>Environmentalist, Entrepreneur, Web Developer, Investor</p>
    </section>
  </section>
</section>

<section class="how-it-works">
  <div class="wrapper">
    <div class="row">
      <div class="large-10 columns left">
        <ul>
          <li>
            <h2>HeatSpring LLC</h2>
            <h3>About the Company</h3>
            <p><%= link_to 'HeatSpring', 'https://heatspring.com' %> is a platform for premium online courses taught by industry experts. Our courses cover topics like solar, green building, microgrid, hvac design, geothermal and more. HeatSpring has offices in Ann Arbor, Michigan and Portland, Oregon and was founded in January 2007.</p>
    		  </li>
          <li>
            <h3>Co-Founder, Managing Director</h3>
            <p>Since founding HeatSpring with co-founder Brian Hayden, I have served in every role in the company. In the early days at HeatSpring I hacked together our first website where we could advertise courses and collect payment. I also helped architect and build out our first database, which was actually seperate from the website database until 2010.</p>
            <p>My main role over the years has been accounting and operations. I set up our financial accounting system, despite not really fully understanding accounting (even now). I developed out financial reports, marketing reports as well as the systems for collecting student registrations and running the courses.</p>
            <p>In 2010 HeatSpring began to experiment with online courses and paid an amazing developer, Matt Krom do build us an online course platform. He chose to build the website using Ruby on Rails.</p>
            <p>I learned Ruby over a few years and have been the lead developer at HeatSpring since 2014.</p>
            <p>I am currently running all operations at HeatSpring with the help of Brian as well as our team of amazingly talented instructors, industry partners and contractors.</p>
          </li>
          <li>
            <h2>OpenShiro LLC</h2>
            <h3>About the Organization</h3>
            <p>This is where I put all my fun side projects.</p>
          </li>
          <li>
            <h2>Connect With Me</h2>
            <h3>LinkedIn</h3>
            <p><%= link_to 'https://linkedin.com/in/duncanjmiller', 'https://www.linkedin.com/in/duncanjmiller' %></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
