<section class="home-splash">
  <section>
    <section>
      <h2>Duncan J. Miller</h2>
      <p>Entrepreneur, Developer, Nerd</p>
      <!-- <input type="submit" value="Apply to teach" /> -->
    </section>
  </section>
</section>

<section class="how-it-works">
  <div class="wrapper">
    <div class="row">
      <div class="large-10 columns center">
        <ul>
          <li>
            <a href="https://heatspring.com"><%= image_tag 'http://heatspring.com/images/heatspring-logo.png' %></a>
            <h3>Co-Founder, President</h3>
            <div><p>HeatSpring is a marketplace for premium online courses taught by industry experts. Our courses cover topics like solar, green building, commercial wind, microgrid, hvac design, geothermal and more. HeatSpring has offices in Ann Arbor, Michigan and Portland, Oregon and was founded in January 2007.</p></div>
    		  </li>
        </ul>
      </div>
    </div>
  </div>
</section>
