section.home-splash {
  & > section {
    overflow: hidden;
    padding: 8rem;
    background: rgba(100,100,100,0);
    & > section {
      h1, p {
        color: #fff;
      }
      background-color: rgba(0,0,0,.6);
      display: block;
      font-size: 1.5rem;
      padding: 2rem 1rem 2rem 1rem;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      text-align: center;
    }
  }
  background: url('/assets/frontpage-splash.jpg') center;
  background-size: cover;
}

section.how-it-works .wrapper .columns {
  padding: 3rem auto;
  width: 100%;
  margin: 4rem auto;
  > ul li {
    list-style-type: none;
    float: left;
    width: 100%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0 0.5rem;
  }
}
